@import "tailwindcss";

[x-cloak] {
  display: none !important;
}

@keyframes wave {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-wave {
  background-size: 200% 100%;
  animation: wave 3s linear infinite;
}

.lb-image {
  width: 600px !important; /* Adjust width as needed */
  height: 400px !important; /* Adjust height as needed */
  object-fit: cover !important; /* Ensures images are cropped evenly */
  max-width: 90vw !important; /* Makes sure it doesn’t go out of screen */
  max-height: 90vh !important;
}

/* Make caption span full width of the image */
.lb-data {
  position: absolute !important;
  bottom: 0 !important;
  width: 600px !important; /* Ensure it matches image width */
  max-width: 90vw !important;
  background: rgba(0, 0, 0, 0.7);
  color: white !important;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

/* Ensure text inside the caption is centered */
.lb-caption {
  padding: 15px;
  display: block;
  font-weight: lighter !important;
}
/* Completely hide the number label */
.lb-number {
  display: none !important;
}

/* Completely hide the close button */
.lb-close {
  display: none !important;
}
